body{
    text-align: center;
}
div{
    height: 100px;
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex-wrap: wrap;*/
    /*align-items: flex-end;*/
    /*align-content: flex-start;*/

}
#box1{
    background-color: aqua;
}
#box2{
    background-color: beige;
    flex-shrink: 5;
}
#box3{
    background-color:yellow;
}
#box4{
    background-color: red;
}
#box5{
    background-color: skyblue;
}